@import url(12bool.css);

/* RESET 
 */
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

/* GENERAL 
*/
    *{
        font-family: Arial, Helvetica, sans-serif;
    }

    [class*="col"]{
        border: 1px solid white;
        min-height: 2rem;
        padding: .6125rem;
    }
    .blue-col{
        background-color: aquamarine;
    }
    .green-col{
        background-color: green;
    }
    section{
        margin-bottom: 1.55rem;
    }


/* MAIN 
*/
/* <!-- SECTION 1 -->
 */
main .row div{
    text-align: center;
}



/* <!-- SECTION 2 -->
 */



/* <!-- SECTION 3 -->
 */
